/* Write your CSS here */
.main-container {
  display: flex;
  flex-direction: column;
  font-family: 'roboto';
  background-color: #000000;
  color: #ffffff;
}
.highlight-section {
  width: 100%;
}

.action-movies-section {
  padding: 20px;
}

.slider {
  padding: 15px;
}
